body {
	font-family: monospace;
	background-color: #333;
	color: white;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

form textarea {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 300px;
	max-width: 600px;
	padding: 15px;
	font-size: 1.2em;
	font-family: monospace;
	border: 2px solid white;
	background-color: #333;
	color: white;
}

form textarea:focus {
	outline: none;
	border-color: green; 
}

p {
	margin: 10px auto;
	max-width: 632px;
	font-size: 1.2em;
}

p > span {
	color: green;
	font-weight: bold;
}

.tamanho {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.format {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-between;
}

div > button {
	display: inline-block;
	color: white;
	background-color: #333;
	border: 2px solid;
	padding: 10px 2px;
	width: auto;
	font-family: monospace;
	letter-spacing: 2px;
	cursor: pointer;
}

div > button:hover {
	border-color: green;
}

@media only screen and (max-width: 768px){
	form textarea {
		display: block;
		margin: 0 auto;
		width: calc(100% - 30px);
		height: 150px;
		padding: 15px;
	}
}

@media only screen and (max-width: 341px){
	.format {
		align-items: stretch;
		flex-direction: column;
	}
	div > button {
		display: block;
		margin: 2px 0;
	}
}